@import url('colores.css');

.contactame {
    position: fixed;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
}

.contactame .circle {
    position: relative;
    border: 0px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactame .button-active {
    width: 70px;
    height: 70px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.contactame .button-active:hover {
    transform: scale(1.1);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
}

.contactame .button-active img {
    width: 45px;
}

.contactame .item {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: var(--primary-dark);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease, height 0.5s ease, width 0.5s ease;
}

.contactame .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-100);
    opacity: 0.5;
    z-index: 0;
}

.contactame .item:hover {
    background-color: var(--light-100);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
}

.contactame .item>* {
    position: relative;
    z-index: 1;
}

.contactame .item img {
    width: 35px;
}

.contactame .show {
    width: 50px;
    height: 50px;
    opacity: 1;
    pointer-events: auto;
}