#Trabajos {
    background-color: var(--color-300);
    padding: 25px 0px;
    margin: 50px 0px;
    display: block;
}

#Trabajos .buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#Trabajos .buttons button {
    background-color: var(--color-200);
    border-radius: 10px;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;

    &:hover {
        background-color: var(--color-400);
    }
}

#Trabajos .cards {
    display: flex;
    overflow-x: auto;
    padding: 20px 0px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#Trabajos .cards::-webkit-scrollbar {
    width: 0.5em;
}

#Trabajos .cards::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#Trabajos .cards .card {
    background-color: var(--color-200);
    padding: 50px 50px;
    text-align: center;
    margin: 10px 25px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        /* Sombra blanca al pasar el mouse */
    }
}

#Trabajos .cards .card img {
    height: 100px;
}

#Trabajos .cards .card button {
    background-color: var(--color-200);
    border-radius: 10px;
    padding: 10px;
    margin: 0px 10px;
    transition: background-color 0.75s;

    &:hover {
        background-color: var(--color-300);
    }
}